@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SpaceMono';
	src: url('./assets/fonts/SpaceMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'SpaceMono', system-ui, sans-serif;
	background: #f9fafb;
	color: #111827;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}